@elabcom rc file Version 1.0
[oh]
invokeDir = /home/ICer/_00_myuse/_01_uvm_code/uvm-1.2/examples/simple/hello_world
hostCommand = -lib simv.daidir/work -saveLevel -elab simv.daidir/kdb -simflow -simdir simv.daidir/kdb_libs -top hello_world -Lf work +disable_message+C00380+C00381 +disable_message+C00388+C00389 -SNPS_ELABCOM -saveElab
simType = VCS
